<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hike to Beer</title>
	<meta name="description" content="">
	<meta name="author" content="Amanda Kievet">

	 <meta name="viewport" content="width=device-width, initial-scale=1">

     {% load staticfiles %}

     <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
     <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
     <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script> -->
</head>
<body>
		<div class="container">
			<a href='/'>Hike to Beer</a>
			<a href="/hikes/1">Camels Hump</a>
			<a href="/hikes/2">Moosilauke</a>
			<a href="/hikes/3">Franconia</a>

            {% block content %}{% endblock %}
            <script type="text/javascript" src={% static 'js/main.js' %}></script>
		</div>
</body>
</html>
