<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hike to Beer</title>
	<meta name="description" content="">
	<meta name="author" content="Amanda Kievet">

	 <meta name="viewport" content="width=device-width, initial-scale=1">

     {% load staticfiles %}

     <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
     <link href={% static 'styles/normalize.css' %} rel="stylesheet" />
     <link href={% static 'styles/skeleton.css' %} rel="stylesheet" />
     <link href={% static 'styles/styles.css' %} rel="stylesheet" />
     <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
	 <script src="https://use.typekit.net/gas6kfv.js"></script>
	 <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
	<div class="nav">
		<div class="container">
			<a class="nav__link" href='/'>Hike to Beer</a>
			<a class="nav__link" href="/hikes/1">Camels Hump</a>
			<a class="nav__link" href="/hikes/2">Moosilauke</a>
			<a class="nav__link" href="/hikes/3">Franconia</a>
		</div>
	</div>

	<div class="container">
        {% block content %}{% endblock %}
        <script type="text/javascript" src={% static 'js/main.js' %}></script>
	</div>
</body>
</html>
